doctype
html(lang="en")
 head
  link(rel="stylesheet" href="css/main.css")
  link(rel="shortcut icon" href="icons/tiktok.png" type="image/x-icon")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title tiktok
 body
  .app_video
   .video
     video(src="videos/01.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")
   .video
     video(src="videos/02.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/03.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/04.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/05.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/06.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/07.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/09.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

   .video
     video(src="videos/010.mp4" controls class="video_player")
     .video_sidebar
       .video_icon
        img(src="icons/favourite.png" title="Like")
        p 130
       .video_icon
        img(src="icons/comment.png" title="Comments")
        p 149
       .video_icon
         img(src="icons/Share.png" title="Share")
         p 40
     .footer
      .footer_text 
       h3 Ahmed Elcoder
       p.disc best videos this year
       .img_marg
        img(src="icons/Music.png")
        marquee Song Player Now With App
      img(src="icons/Audio_CD.png" class="image_palyer")

  script(src="js/main.js")